# Virtual Environment Python gitignore
ve_python/pycharm/*/*/*.ipynb
ve_python/pycharm/*/*.ipynb
ve_python/ve/evenv/*
ve_python/ve/evtenv/*
ve_python/ve/myve/ve-mp/*
ve_python/ve/myve/ve-np/*

# JSP Servlet gitignore
jsp_servlet/.metadata

# data_analysis / PycharmExample gitignore
data_analysis/PycharmExample/*/*.idea
data_analysis/PycharmExample/*.idea

# django gitignore
django/PycharmProject/*/*/.idea
django/PycharmProject/*/*/venv
